:root {
    --bgcolor: #eae6ee;
    --footerColor: grey;
    --textColor: black;
    --unactiveTextColor: grey;
    --linkColor: orange;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), local('Montserrat-Regular'), url('montserrat.woff2') format('woff2'), url('montserrat.woff') format('woff'), url('montserrat.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

h1{
    font-size: 22px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

p, li {
    font-size: 16px;
}

a {
    font-size: 16px;
    color: inherit;
    text-decoration-color: var(--linkColor);
    text-decoration-thickness: 3px;
}

body {
    background-color: var(--bgcolor);
    font-family: "Montserrat", "Arial", sans-serif;
    color: var(--textColor);
}

article {
    max-width: 800px;
    margin:15px auto;
}

header {
    display: flex;
    justify-content: flex-start;
}

.photo{
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin-right: 15px;
    background-image: url(photo.jpg);
    background-size: cover;
}

.work-list {
    margin: 0;
    padding: 0;
}

.work-list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-work {
    text-align: right;
}

@media (max-width: 830px) {
    article {
        margin-left: 15px;
        margin-right: 15px;
    }
    li div:first-child {
        margin-right: 10px;
    }
}